builds: ['genome', 'N450']
strain_id_field: "accession"
files:
    reference: "measles_reference_{build}.gb"
    reference_fasta: "measles_reference_{build}.fasta"
    colors: "colors.tsv"
    auspice_config: "auspice_config_{build}.json"
    description: "description.md"
align_and_extract_N450:
    min_length: 400
subsample:
    genome:
        samples:
            global:
                max_sequences: 5000
                min_date: 1950
                min_length: 5000
                group_by:
                    - country
                    - year
                include: include_strains_genome.txt
                exclude: dropped_strains.txt
    N450:
        samples:
            global:
                max_sequences: 3000
                min_date: 1950
                min_length: 400
                group_by:
                    - country
                    - year
                include: include_strains_N450.txt
                exclude: dropped_strains.txt
refine:
    coalescent: "opt"
    date_inference: "marginal"
    clock_filter_iqd: 4
ancestral:
    inference: "joint"
tip_frequencies:
    min_date: "2000-01-01"
    max_date: "6M"
    narrow_bandwidth: 0.2
    wide_bandwidth: 0.6
export:
    metadata_columns: "strain division location dataUseTerms dataUseTerms__url restrictedUntil PPX_accession INSDC_accession"
