builds: ['genome', 'N450']
strain_id_field: "accession"
files:
    reference: "measles_reference_{build}.gb"
    reference_fasta: "measles_reference_{build}.fasta"
    colors: "colors.tsv"
    auspice_config: "auspice_config_{build}.json"
    description: "description.md"
align_and_extract_N450:
    min_length: 400

# Subsample configuration using N-dimensional matrix
subsample:
    # Default options applied to all samples
    defaults:
        exclude: dropped_strains.txt
        group_by:
            - country
            - year

    # Dimension-specific options
    # - Order matters for merge precedence
    # - Samples must be defined at the lowest dimension
    matrix:
        build:
            # Dimension-specific defaults with wildcards
            _wildcard_defaults:
                include: include_strains_{build}.txt
            genome:
                samples:
                    global:
                        sequences_per_group: 20
                        min_date: 1950
                        min_length: 5000
            N450:
                samples:
                    global:
                        max_sequences: 3000
                        min_date: 1950
                        min_length: 400
refine:
    coalescent: "opt"
    date_inference: "marginal"
    clock_filter_iqd: 4
ancestral:
    inference: "joint"
tip_frequencies:
    min_date: "2000-01-01"
    max_date: "6M"
    narrow_bandwidth: 0.2
    wide_bandwidth: 0.6
export:
    metadata_columns: "strain division location"
